\ Exercise Configuration File

: exercises
  ." 001 hello-world 01_basics/hello.fs 1" cr
  ." 002 stack-operations 01_basics/stack.fs 1" cr
  ." 003 arithmetic 01_basics/arithmetic.fs 1" cr
  ." 004 variables 01_basics/variables.fs 1" cr
  ." 005 words 01_basics/words.fs 1" cr
  ." 006 comments 01_basics/comments.fs 1" cr
  ." 007 conditionals 01_basics/conditionals.fs 1" cr
  ." 008 loops 01_basics/loops.fs 1" cr
  ." 009 recursion 01_basics/recursion.fs 1" cr
  ." 010 strings 01_basics/strings.fs 1" cr ;

: progress
  0 0 \ completed-cnt total-exercises
;